<!doctype html>
<html>
<head>

</head>
<body>
<script>
if (window.opener) {
  var hash = window.location.hash;
  if (hash.indexOf('#token') === 0) {
    var token = window.location.hash.substr('#token='.length);
    var data = {
      'token': token
    };
    window.opener.postMessage(JSON.stringify(data), '*');
  } else {
    window.history.back();
  }
}
</script>
</body>
</html>
